*{
    justify-content: center;
    align-items: center;
}
#interface{
    display:flex;
    flex-wrap: nowrap;
}

.grid{
    display:flex;
    border:solid;
    min-height:20px;
    min-width: 20px;
}